# Node

/**/node_modules/

# Maven

/**/target/

# Gradle

/**/.gradle/
/**/build/
/**/gradlew
/**/gradlew.bat

# IntelliJ

/**/*.iml
/**/.idea/

# Eclipse

/**/bin/
/**/tmp/
/**/.classpath
/**/.metadata/
/**/.project
/**/.settings/
/**/.springBeans

# Mac OS

.DS_Store